
:root {
    --moderate-violet: hsl(263, 55%, 52%);
    --very-dark-grayish-blue: hsl(217, 19%, 35%);
    --very-dark-blackish-blue: hsl(219, 29%, 14%);
    --white: hsl(0, 0%, 100%);
    
    /* ### Neutral */
    
    --light-gray: hsl(0, 0%, 81%);
    --light-grayish-blue: hsl(210, 46%, 95%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 81.25%;
    min-height:100vh;   
}

body {
    background: var(--light-grayish-blue);
    color: var(--light-gray); 
    font-weight: 500;
    font-family: 'Barlow Semi Condensed', sans-serif;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
}

h5 {
    opacity: 50%;
}

img {
    display: block;
    border-radius: 50%;
    width: 2.5rem;
}

p {
    padding-top: 1.2rem ;
}

.neutral {
    color: var(--very-dark-blackish-blue);
}

/* layout de title */
.testimonial {
    padding: 2rem;
    border-radius: 8px;
}

.testimonial-title {
    display: flex;
}

.testimonial-title-name {
    margin-left: 1rem;
}

.container {
    max-width: 80%;
    margin: 2rem auto; 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: 
    "daniel daniel jonathan kira"
    "jeanette patrick patrick kira";
    grid-gap: 2rem;
}

/* border color img */
.testimonial:nth-child(1) img {
    border: 2px solid #A775F1; 
}

.testimonial:nth-child(4) img {
    border: 2px solid var(--moderate-violet);
}
/* background color */
.testimonial:nth-child(1) {
    background: url("images/bg-pattern-quotation.svg") var(--moderate-violet) no-repeat 82% 0;
    grid-area: daniel;
}

.testimonial:nth-child(2) {
    background-color: var(--very-dark-grayish-blue);
    grid-area: jonathan;
}

.testimonial:nth-child(3)  {
    background-color: var(--white);
    grid-area: jeanette;
}

.testimonial:nth-child(4) {
    background-color: var(--very-dark-blackish-blue);
    grid-area: patrick;
}

.testimonial:nth-child(5) {
    background-color: var(--white);
    grid-area: kira;
}

.testimonial:nth-child(3) p:first-child,.testimonial:nth-child(5) p:first-child {
    color: var(--very-dark-blackish-blue);
}

/* testimonial-text */
.testimonial-text p:first-child {
    font-size: 1.5rem;
    color: var(--white); 
    font-weight: 600; 
}

.testimonial-text p:last-child {
    opacity: 70%;
    padding-top: 1.5rem;
    line-height: 1.4rem;  
}

@media only screen and (min-width:1440px) {
    .container {
        max-width: 55%;
        margin: 11rem auto; 
    }
}

@media only screen and (max-width:992px){
    .container {
        display: flex;
        flex-direction: column;
    }
}



